:root {
    --circle-radius: 40vw;
    --item-size: 40px;
    --nebula-border-width: 10px;
}

div#app::before {
    background-image: url(https://img.thesitebase.net/files/10510656/2024/03/24/0x2048@1711294602d732eb0ef0.png);
    background-position: 50%;
    background-size: 1090px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    z-index: 0;
    background-color: #14162C;
    content: "";
}

div#wb-main>section {
    background: none !important;
    z-index: 1;
}

#galaxy {
    aspect-ratio: 0.8;
    position: relative;
    overflow: hidden;
    margin-left: -16px;
    margin-right: -16px;
    width: 100vw;
    max-width: 1200px;
}

#galaxy.the-show-must-go-on .solar-system {
    transform: scale(0) translate(150%, 200%);
    opacity: 0;
}

#galaxy-effects {
    pointer-events: none;
}

#galaxy.the-show-must-go-on #galaxy-effects {
    display: none;
}

#galaxy.the-show-must-go-on .nebula-show {
    opacity: 1;
    scale: 1;
}

#galaxy.the-show-must-go-on .stone-grids {
    transform: translateY(0);
    opacity: 1;
}

.solar-system {
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: scale(1) translate(0, 0);
    transition: transform 800ms ease-in-out, opacity 800ms ease-in;
    transform-style: preserve-3d;
}

.stone-grids {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    transition-delay: 200ms;
    transition: transform 1000ms ease-in-out, opacity 1000ms ease-in;
}

.stone-grids--stone {
    width: 100%;
}

.stone-grids--stone.active {
    animation: stoneActive 1.25s ease-in-out infinite;
}

.nebula-show {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    aspect-ratio: 1;
    scale: 0;
    opacity: 0;
    transition: opacity 1100ms ease-in-out, scale 1100ms ease-in-out;
    border-radius: var(--nebula-border-width);
    overflow: hidden;
    /* &::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--nebula-border-width));
        left: calc(-1 * var(--nebula-border-width));
        z-index: -1;
        width: calc(100% + var(--nebula-border-width) * 2);
        height: calc(100% + var(--nebula-border-width) * 2);
        background: linear-gradient(60deg,
                hsl(224, 85%, 66%),
                hsl(269, 85%, 66%),
                hsl(314, 85%, 66%),
                hsl(359, 85%, 66%),
                hsl(44, 85%, 66%),
                hsl(89, 85%, 66%),
                hsl(134, 85%, 66%),
                hsl(179, 85%, 66%));
        background-size: 300% 300%;
        background-position: 0 50%;
        border-radius: calc(2 * var(--nebula-border-width));
        animation: moveGradient 4s alternate infinite;
    } */
}

.nebula-show--container {
    background: transparent;
    border-radius: var(--nebula-border-width);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nebula-show--stone {
    position: absolute;
    height: 100%;
    opacity: 0;
}

.nebula-show--stone video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nebula-show--stone.active {
    transition: opacity 0.5s, transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
}

.orbit-div {
    z-index: 0;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    height: 100%;
}


.galaxy-logo {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
    position: absolute;

}


div.orbit-background {
    background-image: url(https://lucky-star-assets.pages.dev/orbit-3.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: calc(100% - (var(--item-size) * 2));
    height: calc(100% - (var(--item-size) * 2));

}

div.orbit-grid {
    position: relative;
    justify-items: center;
    align-items: center;
    animation: spin 20s linear infinite;
}

.orbit-stone {
    width: var(--item-size);
    height: var(--item-size);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 999999px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: calc(var(--item-size) / -2);
}

.orbit-stone-1 {
    transform: rotate(0deg) translate(var(--circle-radius)) rotate(-0deg);
    --o-box-shadow-color: rgba(230, 107, 114, 1);

}

.orbit-stone-2 {
    transform: rotate(60deg) translate(var(--circle-radius)) rotate(-60deg);
    --o-box-shadow-color: rgb(235, 126, 75);
}

.orbit-stone-3 {
    transform: rotate(120deg) translate(var(--circle-radius)) rotate(-120deg);
    --o-box-shadow-color: rgb(83, 155, 239);
}

.orbit-stone-4 {
    transform: rotate(180deg) translate(var(--circle-radius)) rotate(-180deg);
    --o-box-shadow-color: rgb(145, 93, 226);
}

.orbit-stone-5 {
    transform: rotate(240deg) translate(var(--circle-radius)) rotate(-240deg);
    --o-box-shadow-color: rgb(99, 208, 162);
}

.orbit-stone-6 {
    transform: rotate(300deg) translate(var(--circle-radius)) rotate(-300deg);
    --o-box-shadow-color: rgb(236, 207, 78);
}

.img-stone {
    width: 100%;
    box-shadow: none;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
    z-index: 2;
    filter: drop-shadow(0 0 1.75rem var(--o-box-shadow-color));
}


.img-stone-1 {
    animation: spin-reverse 16s linear infinite;

}

.img-stone-2 {
    animation: spin-reverse 30s linear infinite;
}

.img-stone-3 {
    animation: spin-reverse 25s linear infinite;
}

.img-stone-4 {
    animation: spin-reverse 45s linear infinite;
}

.img-stone-5 {
    animation: spin-reverse 20s linear infinite;
}

.shooting-star-1 {
    z-index: 0;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
}

#lottie-star {
    width: 100px;
    filter: drop-shadow(0 0 1.75rem rgba(255, 255, 255, 0.7));
}

@media (min-width:1025px) {
    :root {
        --circle-radius: 400px;
        --item-size: 60px;
    }

    #lottie-star {
        width: 200px;
    }


    .shooting-star-1 {
        top: 178px;
        right: 345px;
    }


}


.button-quantity input {
    background: none;
}

.tabs__heading {
    display: none;
}

.tabs__headings-wrapper {
    --p3-font-size: 28px;
    --p3-line-height: 2;
    gap: 0 ! important;
}

button.block-qty-discount__add {
    background: var(--btn-primary-background);
    color: var(--btn-primary-text-color);
}

@keyframes spin {
    100% {
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(360deg) skew(0deg, 0deg);
    }
}

@keyframes spin-reverse {
    100% {
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-360deg) skew(0deg, 0deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }

}

@keyframes stoneActive {
    0% {
        transform: translate(0, -20px);
    }

    50% {
        transform: translate(0, -10px);
    }

    100% {
        transform: translate(0, -20px);
    }
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}